<!DOCTYPE html>

<html lang="%v">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>%v</title>
		<link rel="stylesheet" type="text/css" href="/assets/md.css">
		<link rel="stylesheet" type="text/css" href="/assets/katex/katex.css">
	</head>

	<body>
		<div class="container">
			%v
			<div class="seperator">
				<hr>
			</div>

			<div class=footer>
				<footer>%v</footer>
			</div>
		</div>
	</body>
</html>
